@page
@model MIST353F24FrontEnd.Pages.FoodBarCodeModel
@{
}
<input id="inputFld" placeholder="Type your barcode here"/>
<button id="submitBtn" onclick="fetchInfo();"> Search </button>

<div id="output"></div>

<script>


</script>